@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');

/* ----- ------ ----- */
/* ----- Global ----- */
:root {
    --color-dark: #212121;
    --color-grey: #fafafa;
    --color-white: #ffffff;
    --color-red: #dc3545;
    --color-green: #69BE28;
    --color-orange: #ff8800;
}

.txt-white {color: var(--color-white);}
.txt-dark {color: var(--color-dark);}
.txt-red {color: var(--color-red);}
.bg-white {background-color: var(--color-white);}
.bg-dark {background-color: var(--color-dark)}
.bg-red {background-color: var(--color-red);}

.txt-center {text-align: center;}
.bold {font-weight: bold;}
.uppercase {text-transform: uppercase;}

.btn{
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: bold;
    color: var(--color-white);
    transition-duration: .5s;
    text-decoration: none;
}   

.btn-red{
    border: 1px solid var(--color-red);
    background-color: var(--color-red);
}

.btn-red:hover {
    background-color: var(--color-white);
    border-color: var(--color-red);
    color: var(--color-red);
}

.btn-green {
    border: 1px solid var(--color-green);
    background-color: var(--color-green);
}

.btn-green:hover {
    background-color: var(--color-white);
    border-color: var(--color-green);
    color: var(--color-green);
}

.btn-orange {
    border: 1px solid var(--color-orange);
    background-color: var(--color-orange);
}

.btn-orange:hover {
    background-color: var(--color-white);
    border-color: var(--color-orange);
    color: var(--color-orange);
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey);
    color: var(--color-dark);
    background: url('../image/parallax.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
}
main{
    flex: 1; 
}
.container {
    max-width: 1320px;
    padding: 0 10px;
    margin: auto;
}

.flex-auto{
    padding: 25px 10px;
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    justify-content: center;
}

.mt-10 {margin-top: 10px;}
.mt-25 {margin-top: 25px;}
.p-10 {padding: 10px;}

/* ----- ---------- ----- */
/* ----- Navigation ----- */
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
    padding: 0 15px;
}

.navbar a, .navbar li {
    text-decoration: none;
    color: var(--color-white);
    transition-duration: .5s;
}

.navbar a:hover {
    color: var(--color-red);
}

.logo {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.logo img{object-fit: contain; height: 80px;}


.menu {
    display: flex;
    justify-content: space-around;
    width: calc(100% - 240px);
}

ul{
    list-style: none;
}
.list {
    display: flex;
    align-items: center;
    gap: 25px;
}

li{
    position: relative;
}
li ul{
    display: none;
    border-top: 1px solid var(--color-white);
    border-radius: 0 0 5px 5px;
    background-color: var(--color-dark);
    padding: 10px;
    position: absolute;
    top: 25px;
    left: 0;
}

li:hover ul{
    display: block;
}

#toggler,
.navbar label {
    display: none;
    color: var(--color-white);
}

@media screen and (max-width: 700px) {
    .menu {
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        margin: 0;
    }

    .navbar{
        justify-content: space-between;
        padding: 15px;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }
}

.flash-error {
    border-radius: 5px;
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 5px 10px;
    margin: 10px 0;
}

.flash-success {
    border-radius: 5px;
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 5px 10px;
    margin: 10px 0;
}



/* ----- ----- -----*/
/* ----- INDEX ----- */
.card-moto{
    max-width: 300px;
    position: relative;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 30%);
}

.card-moto img{
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.card-top{
    height: 250px;
}

.card-top .price{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 3px 10px;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-red);
    border-radius: 15px;
    
}

.card-moto .card-bottom{
    padding: 10px 10px 50px;
    background-color: var(--color-white);
    border-radius: 0 0 5px 5px;
}

.card-moto h2 span{
    font-size: 0.6em;
}

.card-moto .link{
    position: absolute;
    bottom: 10px;
    right: 10px;
}



/* ----- ----------- -----*/
/* ----- Single Moto -----*/
section.banner{
    position: relative;
    background: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    height: 600px;
}

section.banner .container{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.banner img{
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 600px;
    z-index: -10;
}

.card-module{
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 30%);
    background-color: var(--color-white);
}
.card-module img{
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    width: 100%;
}

.technical-profile{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 30%);
    background-color: var(--color-white);
}

.technical-profile .table{
    position: relative;
    width: 50%;
    padding-bottom: 50px;
}

.technical-profile h4, .technical-profile p{
    padding: 5px;
}

.technical-profile table{
    text-align: left;
    border-top: 2px solid var(--color-dark);
}

.technical-profile table th, .technical-profile table td{
    padding: 5px;
}

.technical-profile table th, .technical-profile table td{
    border-bottom: 1px solid #cecece;
}

.technical-profile img{
    object-fit: cover;
    border-radius: 10px;
    width: 50%;
}

.technical-profile a{
    position: absolute;
    bottom: 10px;
    left: 33%;
}

@media screen and (max-width: 1250px) {
    .technical-profile{
        flex-direction: column;
        max-width: 550px;
    }
    
    .technical-profile img, .technical-profile .table{
        width: 100%;
    }
}


/* ----- ------ ----- */
/* ----- Profil ----- */
.profil{
    max-width: 280px;
    margin: 10px auto;
}

.profil img{
    object-fit: cover;
    width: 100%;
}


/* ----- ------ -----*/
/* ----- Footer ----- */
footer .container{
    color: var(--color-grey);
    padding: 10px;
}

footer div{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid var(--color-white);
}

footer h2{
    color: var(--color-red);
    text-transform: uppercase;
    margin-bottom: 10px;
}

footer div ul{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: var(--color-white);
    transition-duration: 0.5s;
}

footer a:hover{
    color: var(--color-red);
    text-decoration: underline;
}


@media screen and (min-width: 401px){
    footer aside {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 650px){
    footer aside {
        width: 33%;
    }
}

@media screen and (max-width: 400px) {
    footer div{
        flex-flow: column;
        align-items: center;
    }
    
    footer aside {
        min-width: 200px;
    }
}

/* ---------- */
/* Formulaire */
.form {
    max-width: 600px;
    width: calc(100% - 40px);
    margin: 25px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 30%);
    background-color: var(--color-white);
}

.form form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

@media screen and (max-width: 550px) {
    .form {
        max-width: 200px;
        margin: auto;
    }

    .form form {
        flex-flow: column wrap;
    }
}


